<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>書籍資料</title>
<style>
    .disabled {
        pointer-events: none;  /* 禁止點擊 */
        color: #666666;  /* 字體顏色變淡 */
        background-color: #eeeeee !important;  /* 背景顏色變灰 */
        cursor: not-allowed;  /* 顯示禁用鼠標樣式 */
    }
</style>

</head>
<body>
	<div th:replace="~{navbar}"></div>
	<div class="content-wrapper">
		<main class="container-xxl flex-grow-1 container-p-y">
			<div align="center">
				<h2 class="p-3">書籍資料</h2><p class="empty"></p>
				<div class="table-container">
					<table class="member-table">
						<tr style="border-bottom: 1px solid black"><td>國際標準書號<td th:text="${book.isbn}">
						<tr><td>書名<td th:text="${book.name}">
						<tr><td>作者<td th:text="${book.author}">
						<tr><td>書籍內容簡介<td th:text="${book.introduction}">
						<tr><td>書籍狀態<td th:text="${inventory.status}">
						
					</table>
				</div>
				<div th:unless="${session.user == null}">
					<a class="abtn" th:classappend="${book.inventory.status == '已借閱'} ? ' disabled' : ''"
						th:onclick="'showAlert(' + ${book.inventory.inventoryId} + ')'" href="javascript:void(0);" >我要借書</a>
				</div>
			</div>	
		</main>
	</div>
	
	<script th:src="@{/js/jquery-3.7.1.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
	<script>
		const showAlert = (inventoryId) => {
            Swal.fire({
			    icon: 'question',
			    title: '確定借書？',
			    showCancelButton: true,
			}).then((result) => {
			    console.log(result)
			    if(result.isConfirmed){
			        Swal.fire({
			            icon: 'success',
			            title: '已加入書房',
			        }).then(() => {
	                    window.location.href = `/borrow.controller?inventoryId=${inventoryId}`;
	                })
			    }
			})
        }
		
	</script>

</body>
</html>